PLANTIO_ENV=prod
PLANTIO_MONGO_URI_LOCAL=mongodb://localhost:27017/plantio
PLANTIO_MONGO_URI_ATLAS=mongodb+srv://developer_user:<PASSWORD>@plantiodb.s08u8it.mongodb.net/plantio?retryWrites=true&w=majority&appName=Plantio
PLANTIO_DATABASE_NAME=plantio
PLANTIO_HOST=0.0.0.0
PLANTIO_PORT=8000
PLANTIO_UPLOAD_DIR=./storage/uploads
PLANTIO_MODEL_PATH=./app/models/plantio/model.pth
PLANTIO_CLASS_MAP_PATH=./app/models/plantio/class_map.json
PLANTIO_ALLOWED_ORIGINS=["http://localhost:8081","http://localhost:8082","http://localhost:3000","http://127.0.0.1:5173","http://localhost:5173"]
PLANTIO_MIN_CONFIDENCE=0.5
PLANTIO_ALLOW_HEALTHY=false
PLANTIO_MIN_MARGIN=0.05

