services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports: ["27017:27017"]
    volumes:
      - mongo:/data/db
  mongo-express:
    image: mongo-express:1.0.2
    restart: unless-stopped
    ports: ["8082:8082"]
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
volumes:
  mongo: {}
